
  <div class="main-page">
	<h2>Welcome to Jean AirBnB</h2>
  </div>

  <div class="options">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_up"), sign_up_path %> 
      <%= link_to t(".sign_in"), sign_in_path %>  
      <%= link_to t(".sign_out"), sign_out_path, method: :delete %> </span> 
    <% end -%>
  </div> 